<p>
  <strong>NameCustomer:</strong>
  <%= customer.namecustomer %>
</p>
 <p>
  <%= link_to 'Destroy Customers', [customer.article, customer],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>